<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">DashBoard <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Book
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/book-form">Add Book</a>
            <a class="dropdown-item" routerLink="/display-books">Display Books</a>
            <a class="dropdown-item" routerLink="/issue-book">Issue Books</a>
            <a class="dropdown-item" routerLink="/display-issued-book">Display Issued Books</a>
            <!-- <a class="dropdown-item" routerLink="/book-form">Add and edit book dummy</a> -->
            <!-- <a class="dropdown-item" routerLink="#">Return Books</a> -->
          </div>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/add-user">Add User</a>
            <a class="dropdown-item" routerLink="/display-users">Display Users</a>
          </div>
        </li>
      
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/display-books">Add User</button> -->
 </ul>
 <ul class="nav justify-content-end">
    <a class="dropdown-item" routerLink="/display-books">Number Of Books: 
      <span class="badge badge-success">{{BooksCount$}} </span>
    </a>
   
  </ul>
  <ul class="nav justify-content-end">    
     <a class="dropdown-item" routerLink="/display-issued-book">Number Of Issued: 
       <span class="badge badge-success">{{issueCount$}} </span>
     </a>
   </ul>
  <!-- <ul class="nav justify-content-end">    
     <a class="dropdown-item" routerLink="/display-issued-book">Available: 
       <span class="badge badge-success">{{available$}} </span>
     </a>
   </ul> -->
</div>
 </nav>

 <br> <br>
<router-outlet></router-outlet>
<!-- <a routerLink="/book-form" >add book</a>
<router-outlet> </router-outlet> -->
<!-- <app-display-books></app-display-books> -->




