<div class="container">

<div class="card-columns">
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h3 class="card-title"><a routerLink="/display-books" >Number Of Books in Store</a></h3>
    <h3><p class="card-text"><span class="badge badge-light">{{booksCount}}</span></p></h3>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h3 class="card-title"><a routerLink="/display-issued-book">Number Of Books Issued</a></h3>
    <h3><p class="card-text"><span class="badge badge-light">{{issuedBooksCount}}</span></p></h3>
  </div>
</div>
</div>
</div>

